<footer>

	<p class="dancing">Sam Armstrong</p>

	<div class="social-icons">
		<a href="https://twitter.com/seesamcode" target="_blank">
			<i class="fa fa-twitter-square"></i>
		</a>	
		<a href="https://github.com/thirddeck" target="_blank">
			<i class="fa fa-github-square"></i>
		</a>
		<a href="https://www.linkedin.com/in/saarmstrong/" target="_blank">
			<i class="fa fa-linkedin-square"></i>
	
	</div>

</footer>

</body>
</html>
